h1{
    height: auto;
    width: 80%;
    text-align: center;
    border: 2px solid teal;
    margin: 0 auto;
    padding: 20px;
    background-color: palegreen;
}
div.margin{
    text-align: center;
    margin: 50px auto;
    border: 5px solid;
    width: 60vw;

}
#border{
    border: 5px solid rebeccapurple;
    margin: 0px 50px 50px 50px;
}
#padding{
    border: 5px solid blueviolet;
    margin: 0px 50px 50px 50px;
}
.content{
    border: 5px dashed slategrey;
    margin: 0px 50px 50px 50px;
    height: 15vh;
}
div.content.p{
    margin-top: 10vh;
}

/* 
auto - This is default. The browser calculates the height and width

length - Defines the height/width in px, cm, etc.

% - Defines the height/width in percent of the containing block

initial - Sets the height/width to its default value

inherit - The height/width will be inherited from its parent value 

Property	Description

height	      Sets the height of an element
max-height	  Sets the maximum height of an element
max-width	  Sets the maximum width of an element
min-height	  Sets the minimum height of an element
min-width	  Sets the minimum width of an element
width	      Sets the width of an element

*/