h1{
    width: 60%;
    border: 3px solid steelblue;
    border-radius: 45px;
    font-size: xx-large;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
div{
    width: 60vw;
    margin: 30px auto;
    padding:20px;
}
table{
    border: 1px solid black;
    width: 50vw;
    padding:0px;
    max-width: 6vw;  /* this will turn the table into scrollable table when view is very small*/
}
tr.headers{
    background-color: mediumseagreen;
}
th,td{
    padding: 15px;
}
tr{
    background-color:lightgreen ;
}
tr:nth-child(even){background-color: lawngreen;} /*to turn alternate row with different color*/
tr:hover{background-color: teal;}
/*to change color on hover*/
tr.headers:hover{background-color: mediumseagreen;}