h1{
    width: 60vw;
    margin: auto;  /*to align block element in center*/
    border: 3px solid purple;
    border-radius: 30px;
    text-align: center;  /*to align text*/
    padding: 20px;
}
.box{
    width: 50vw;
    height: 20vh;
    background-color: cadetblue;
    margin: 30px auto;
    border-radius: 50px;
}
.leftbox{
    width: 10vw;  /*align using absolute*/
    height: 20vh;
    background-color: crimson;
    position: absolute;
    border-radius: 50px;
    left:0px;
}
.rightbox{
    width: 10vw;    /*align using float, this will align within width of parent element*/
    height: 20vh;
    background-color:purple;
    float: right;
    border-radius: 50px;
}
.p1{     /*this we can a;ign both horizontally and vertically*/
    display: inline;
    /* margin: auto; */
    line-height: 20vh;
    position: relative;
    /* text-align: center; */
    left: 50%;
}
.p2{ /* centering both horizontally and vertically Using flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20vh
}