h1,h2{
    text-align: center;
    margin: 0 auto;
    border: 2px solid purple;
    width: 40%;
    padding: 30px;
}
div.static{
    position: static;
    border: 2px solid seagreen;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
div.relative{
    position: relative;
    top: 50px; /*this will move down the div ffrom 50px from above element or parent element but rest of the element will follow the dom flow as usual they will not get effected by this*/
    border: 2px solid seagreen;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
div.fixed{
    position: fixed;
    border: 2px solid seagreen;
    top: 50vh;
    right: 0;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    width: 30vw;
}
div.absolute{
    position: absolute;
    border: 2px solid seagreen;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
div.sticky{
    position: sticky;
    top: 10px;
    border: 2px solid seagreen;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
body{
    height: 2000px;
}